* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

canvas {
    margin-top: 100px;
}

.inserisci-vendita {
    text-align: center;
    margin-top: 50px;
}
